{% extends 'home_base.html' %}
{% block title %}
    <title>ACM Solve</title>

{% endblock %}
{% block container %}

<div class="c-nav">
    asdasd<br>
    asdz<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
    zxc<br>
</div>

{% for uva in uva_codes %}
    <div class="c-section">
        <h1 style="text-align: center;"><a href="{{ uva.url_txt }}">{{ uva.title }}</a></h1>
        <h2 style="text-align: left">Description</h2>
        {{ uva.description }}
        <h2 style="text-align: left">Input</h2>
        <pre>{{ uva.critical_input | safe }}</pre>
        <h2 style="text-align: left">Output</h2>
        <pre>{{ uva.critical_output | safe }}</pre>
        <h2 style="text-align: left">Code</h2>
        {% load pygmentify %}
        {% pygment %}
            <pre lang='c'>
            {{ uva.code_txt | safe }}
        </pre>
        {% endpygment %}
    </div>
{% endfor %}

</div>
<div class="c-footer">
    Copyright © rakib.com
</div>
{% endblock %}